* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}/* (*) é um seletor universal*/

/* root significa raíz (A pseudo-classe :
root é utilizada para selecionar o 
elemento raiz do documento HTML, 
ou seja, o elemento HTML. 
Ela é útil para definir variáveis CSS globais,
que podem ser utilizadas em todo o documento.)*/
:root {
    --text-color: white;
    --bg-url: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(0, 0, 0, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --highlight-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(./assets/moon-stars.svg);
}
/*config mode light*/
.light {
    --text-color: black;
    --bg-url: url(./assets/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/sun.svg);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}

/*It's necessary to have a slash between position and cover*/

body * {
    font-family:'Inter', sans-serif; 
    color: var(--text-color);
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

/*switch*/
#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button {
    width: 32px;

    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-out 0.2s forwards;
}
/*config mode light button*/
.light #switch button {
    animation: slide-in 0.4s forwards;
}


#switch button:hover {
     outline: 8px solid var(--highlight-color);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

/*profile*/
#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}

/*links*/
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 16px 24px;


    background: var(--surface-color);
    border: 1px solid var(--stroke-color);

    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.5s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

/*social links*/
#social-links {
    display: flex;
    justify-content: center;
    /*gap: 32px;*/

    padding: 24px 0;
    font-size: 24px;
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

#social-links a:hover {
    background: var(--highlight-color);
    padding: 16px;
    border: 1.5px solid var(--text-color);
    border-radius: 50%;
}

/*footer*/
footer {
    padding: 24px 0;
    text-align: center;
}

/*media queries*/
@media (min-width: 700px) {
    :root {
        --bg-url: url(./assets/bg-desktop.jpg);
    }

    .light {
        --bg-url: url(./assets/bg-desktop-light.jpg);
    }
}

/*aqui está dizendo que aplicará esse CSS aos
 aparelhos correspondentes ao mínimo de tamanho de 700px. Utilizando 
 as variáveis já declaradas no inicio.*/


 /*animação que vai fazer um deslize
  no botão de dark/light mode*/
 @keyframes slide-in {
   from {
      left: 0;
   }
   to {
      left: 50%;
   }

 }

 @keyframes slide-out {
    from {
       left: 50%;
    }
    to {
       left: 0;
    }
 
  }
